*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab

# Firebase secrets - ne JAMAIS committer votre vrai fichier
app/google-services.json

# Node (Cloud Functions)
functions/node_modules/
functions/lib/
